/* styles/Authentication.module.css */

.container {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.favicon {
  padding-top: 30px; 
  padding-left: 6%;
  height: auto;
  width: 28%; 
}

.sign {
  height: auto;
  width: 78%; 
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 18px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.rightContainer h1 {
  font-size: 64px;
  font-weight: 550;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0px 0px 20px 0px;
}

.topContainer {
  flex: 6;
  display: flex;
  width: 100%;
  background-color: #00ACF6;
  position: relative;
}

.bottomContainer {
  flex: 4;
  display: flex;
  background-color: #00002B;
  width: 100%;
}


.floatingCard {
  position: absolute;
  width: 200px;
  height: 100px;
  padding-left: 10px;
  margin-top: 23%;
  margin-left: 10%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.textt{      
  text-align: left;
  font-size: 60px;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding-left: 6%;
  padding-top: 3.5%;
  font-weight: 250;
  line-height: 43px;
 }
 .text{      
  text-align: left;
  font-size: 60px;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding-left: 6%;
  padding-top: 2%;
  font-weight: 250;
  line-height: 43px;
 }

 .text2{
  text-align:left;
  color: #FFFFFF;
  padding-left: 6%;
  padding-top: 4%;
  font-weight: 300;
  font-size: 18px;
}
.text5{
  position: relative;
  width: 100%;
  margin-top: 10%;
  text-align: center;
  font-size: 12px;
  color: #676B5F;
  line-height: 18px;
  font-weight: 500;
}