.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    margin-top: 10%;
    flex-direction: column;
    animation: slideIn 0.5s ease-in-out;

    /* Adjust the height as per your needs */
}
.blue{
    color: #00ACF6;
    }

    @keyframes slideIn {
        from {
          transform: translateX(-35px); /* Start position, 30 pixels to the left */
          opacity: 0; /* Start with opacity 0 */
        }
        to {
          transform: translateX(0); /* End position, no horizontal movement */
          opacity: 1; /* End with opacity 1 (fully visible) */
        }
      }