.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 10px;
  }

  .patentDeliveryStatus{
    padding-left: 100px;
  }
.label{
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.label1{
    font-weight: 600;
    font-size: 18px;
    color: #828282;

}
